* {
  /* box-sizing: border-box; */
  
}

:focus {
 /* TODO */
}

body {
  /* TODO */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: linear-gradient(to bottom right, red, yellow);
}


input {
 /* TODO */
}

.search-container {
 /* TODO */

}


.search-container input,
.search-container .suggestions {
  /* TODO */
  margin: 20% auto;
  display: block;

}
.search-container input {
 /* TODO */

}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}