/*
Jonathan Lahmann
2/29/2024
*/


body {
  /* TODO */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: linear-gradient(to bottom right, red, yellow);
}




.search-container {
 /* TODO */
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 20% auto;
 width: 360px;

}


.search-container input,
.search-container .suggestions {
  /* TODO */
  display: flexbox;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 13%;
  margin-top: -5%;
  width: 360px;

}
.search-container input {
 /* TODO */

 margin-top: 20%;

 position: relative;

}

ul li {
  /* TODO */
  display: flex;
  justify-content: start;
  transition-duration: 0.5s;
  background-color:darkorange;
  
  border: 1px solid orangered;

}
ul li:hover {
  /* TODO */
  cursor: pointer;
  background: red;

}
